[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
