<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    <link rel="stylesheet" href="/css/custom.css">
    <script defer language="javascript" type="text/javascript" src="{{ "/js/custom.js" | urlize | relURL }}"></script>
    {{- partial "head.html" . -}}
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        {{ if and (not .Site.IsServer) .Site.Data.consent }}
        {{- partial "consent.html" . -}}
        {{ end }}
    </body>
</html>
