<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    <link rel="stylesheet" href="/css/custom.css">
    <script defer language="javascript" type="text/javascript" src="{{ "/js/custom.js" | urlize | relURL }}"></script>
    {{- partial "head.html" . -}}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-931B69WEG0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-931B69WEG0');
    </script>
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
